.marquee-cont {
    width: 100%;
    overflow: hidden;
    display: flex;

    // span {
    //     width: 100%;
    //     white-space: nowrap;
    //     // animation: marquee 5s linear infinite;
    // }
}