.members-cont {
    position: absolute;
    display: flex;
    width: 100%;
    // height: 100%;
    padding-top: 10px;
    flex-direction: row;

    .members-type {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        &:first-child {
            padding-right: 5px;
        }
        &:last-child {
            padding-left: 5px;
        }

        .title {
            text-align: center;
            margin-bottom: 10px;
        }
    
        .member {
            width: 100%;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 5px;

            .member-id {
                margin-right: 5px;
            }

            img {
                margin-left: 5px;
                width: 15px;
                flex: 0 0 15px;
                cursor: pointer;
            }
        }

        .free {
            @extend .member;
            opacity: 0.5;
            color: green;
            justify-content: center;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}